@{
    Layout = "_Header";
}
@model Boogle.Models.LoginModel

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>

    PUTE
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</body>
</html>
