@using Microsoft.AspNetCore.Http;
@model Boogle.Models.SearchModel
@{
    Layout = "_Main";
}

<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Search</title>

    <!-- Bootstrap Core CSS -->
    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="~/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style media="screen">

        .dropdown.dropdown-lg .dropdown-menu {
            margin-top: -1px;
            padding: 6px 20px;
        }

        .input-group-btn .btn-group {
            display: flex !important;
        }

        .btn-group .btn {
            border-radius: 0;
            margin-left: -1px;
        }

            .btn-group .btn:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

        .btn-group .form-horizontal .btn[type="submit"] {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .form-horizontal .form-group {
            margin-left: 0;
            margin-right: 0;
        }

        .form-group .form-control:last-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }



        img {
            border-radius: 5px;
        }


        /* Style the Image Used to Trigger the Modal */
        #myImg {
            cursor: pointer;
            transition: 0.3s;
        }

            #myImg:hover {
                opacity: 0.7;
            }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 5; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 50px;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 300px;
        }

        /* Caption of Modal Image (Image Text) - Same Width as the Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        .info {
            text-align: left;
            color: #ccc;
            font-size: 1.4em;
            padding-right: 60px;
        }

        .desc {
            margin-top: 20px;
            font-size: 0.8em;
            text-align: justify;
            text-justify: inter-word;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }



        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

    <script>

        window.onload = function () {
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        }

    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="glyphicon glyphicon-fire"></span>
                    Boogle
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Search">Search</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Books">My books</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="" asp-controller="Profile" asp-action="Show">@Context.Session.GetString("user")</a>
                    </li>
                    <li>
                        <img src="~/img/user_icon.png" class="img-responsive" alt="user icon" style="height: 30px; margin-top: 10px;">
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    List of books available
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Home" asp-action="SearchButton">

                    <div class="input-group" id="adv-search">
                        <input asp-for="searchString" type="text" class="form-control" placeholder="Search for snippets" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <div class="form-group">
                                            <label for="filter">Filter by</label>
                                            <select class="form-control">
                                                <option value="0" selected>All Snippets</option>
                                                <option value="1">Featured</option>
                                                <option value="2">Most popular</option>
                                                <option value="3">Top rated</option>
                                                <option value="4">Most commented</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Autor" />
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Generos" />
                                        </div>
                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <hr />

        <!-- Projects Row -->
        <div class="row text-center">
            <div class="col-md-4 portfolio-item">
                <!-- Trigger the Modal -->
                <img id="myImg" class="img-responsive center-block" src="~/book/image/Semiosis.jpg" alt="Semiosis">

                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- The Close Button -->
                    <span class="close">&times;</span>
                    <div class="col-md-4">
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img01">
                        <!-- Modal Caption (Image Text) -->
                        <div id="caption"></div>
                    </div>
                    <div class="col-md-8 info">
                        <ul>
                            <li>Autor : Sue Burke</li>
                            <li>Fecha: 2019</li>
                            <li>Generos : Ciencia ficción</li>
                            <li>Paginas : 448</li>
                            <li>Idioma : Frances</li>
                        </ul>
                        <div class="desc">
                            Ils sont cinquante – des femmes, des hommes de tous horizons. Ils ont définitivement quitté la Terre pour, au terme d’un voyage interstellaire de cent soixante ans, s’établir sur une planète lointaine qu’ils ont baptisée Pax. Et ils ont laissé derrière eux les guerres, la pollution, l’argent, pour se rapprocher de « la nature ». Tout recommencer. Construire une Utopie.

                            Mais très vite, des drames menacent leur idéal. Du matériel irremplaçable est détruit. Des morts surviennent et s’accumulent.

                            La nature est par essence dangereuse ; celle de Pax, mystérieuse, ne fait pas exception à la règle. Pour survivre, les colons vont devoir affronter ce qu’ils ne comprennent pas et comprendre ce qu’ils affrontent.

                            Journaliste, traductrice et éditrice, Sue Burke est américaine. Semiosis, présent sur toutes les listes des meilleurs romans de science-fiction parus en 2018, est son premier roman.
                        </div>
                        <button type="button" onclick="location.href='@Url.Action("Download","Home")'" class="btn btn-primary" style="margin-top:30px;">READ IT</button>
                    </div>
                </div>

                <h3><a href="#">Semiosis</a></h3>
            </div>

            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive center-block" src="~/img/book_test.jpg" alt="book 2">
                </a>
                <h3>
                    <a href="#">Book 2</a>
                </h3>
                <p>Description of the book</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive center-block" src="~/img/book_test.jpg" alt="book 3">
                </a>
                <h3>
                    <a href="#">Book 3</a>
                </h3>
                <p>Description of the book</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row text-center">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive center-block" src="~/img/book_test.jpg" alt="book 4">
                </a>
                <h3>
                    <a href="#">Book 4</a>
                </h3>
                <p>Description of the book</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive center-block" src="~/img/book_test.jpg" alt="book 5">
                </a>
                <h3>
                    <a href="#">Book 5</a>
                </h3>
                <p>Description of the book</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive center-block" src="~/img/book_test.jpg" alt="book 1">
                </a>
                <h3>
                    <a href="#">Book 6</a>
                </h3>
                <p>Description of the book</p>
            </div>
        </div>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; BOOGLE 2019</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
</body>

</html>
